@{
    ViewData["Title"] = "Home Page";
}
<h2>Alfred Nobel</h2>
<a href="https://www.nobelpeaceprize.org/getfile.php/133207-1631004973/_Nobel%20Peace%20Prize/History/Photo%3A%20Alexander%20Mahmoud.jpg%20%28custom_size%29.jpg"></a>
<h3>Alfred Nobel's family descended from Olof Rudbeck, the most famous scientist in Sweden in the 17th century. Alfred was fluent in several languages.</h3>
<p>	Alfred Bernhard Nobel was born in Stockholm on 21 October 1833. The menfolk of the family were engineers and businessmen. In 1842, Alfred moved with his mother and brothers to St. Petersburg, where his father Immanuel Nobel had opened an armaments factory a few years prior. He manufactured landmines for the Tsar's army, and made good profits. Alfred did not attend school but received private tutoring from good teachers. He was quick to master four foreign languages, and showed great ability in the natural sciences, especially chemistry.</p>
