@{
    ViewData["Title"] = "Gallery";
}
<div class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/AlfredNobel2.jpg/1200px-AlfredNobel2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://cdn.britannica.com/43/135743-050-835BE697/Alfred-Bernhard-Nobel-portrait-Emil-Osterman-Foundation-1915.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://news-cdn.softpedia.com/images/news2/Fake-Nobel-Peace-Prize-Invitations-Carry-Malicious-Payload-2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://dailyasianage.com/library/1567802225la-dynamite-found-1200.jpg" alt="">
            </a>
        </div>
    </div>

</div>